{
  "env": {
    "es2020": true,
    "node": true
  },
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base",
    "plugin:nestjs/recommended",
    "plugin:jest/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "import", "nestjs", "jest"],
  "ignorePatterns": ["test/*"],
  "rules": {
    "@typescript-eslint/comma-dangle": [2, "always-multiline"],
    "@typescript-eslint/indent": [
      "error",
      2,
      {
        "MemberExpression": 1,
        "ignoredNodes": [
          "FunctionExpression > .params[decorators.length > 0]",
          "FunctionExpression > .params > :matches(Decorator, :not(:first-child))",
          "ClassBody.body > PropertyDefinition[decorators.length > 0] > .key"
        ],
        "SwitchCase": 1
      }
    ],
    "key-spacing": [
      "error",
      {
        "beforeColon": false
      }
    ],
    "require-await": "error",
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/no-unsafe-assignment": 0,
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "linebreak-style": 0,
    "import/prefer-default-export": 0,
    "class-methods-use-this": 0,
    "camelcase": 0,
    "no-underscore-dangle": 0,
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["**/*.test.ts", "**/*.spec.ts", "jest.config.js", "**/*.fixture.ts"]
      }
    ],
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts", ".tsx"]
      }
    }
  }
}
